@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300&display=swap');
.h5p-guessit {
}
.h5p-guessit .h5p-input-wrapper {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
}
.h5p-guessit .h5p-text-input,
.h5p-guessit .h5p-text-input-user {
  font-family: 'Roboto Mono', 'Lucida Console', Courier, monospace;
  font-size: 1.2em;
  border-radius: 0.25em;
  border: 1px solid #a0a0a0;
  padding: 0.1875em 1em 0.1875em 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.h5p-guessit .h5p-text-input.wordle {
  font-size: 1.2em;
  border: 1px solid #a0a0a0;
  padding: 0.1875em 0.5em 0.1875em 0.5em;
  width: 1em!important;
  text-align: center;
}

.h5p-guessit .h5p-text-input-user {
  width: 25em;
}
.h5p-guessit .h5p-text-input:focus {
  outline: none;
  box-shadow: 0 0 0.5em 0 #7fb8ff;
  border-color: #7fb8ff;
}
.h5p-guessit .h5p-text-input.h5p-not-filled-out {
  background: #fff0f0;
}
.h5p-guessit .h5p-separate-lines .h5p-input-wrapper {
  display: block;
}
.h5p-guessit .h5p-separate-lines .h5p-text-input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Correctly answered input */
.h5p-guessit .h5p-correct .h5p-text-input,
.h5p-guessit .h5p-correct-wordle .h5p-text-input {
  background: #9dd8bb70;
  border: 1px solid #9dd8bb;
  color: #255c41;
}
/* Showing markup. top & left determined by position of input element. 
*/
.h5p-guessit-markup {
  font-family: "Lucida Console", Courier, monospace; 
  font-size: 1.2em;
  margin-left: .5em;
  position: absolute;
}
.h5p-guessit .h5p-correct:after {
  position: absolute;
  right: 0.5em;
  top: 0;
  text-decoration: none;
  content: "\f00c";
  font-family: 'H5PFontAwesome4';
  color: #255c41;
}

/* Wrongly answered input */
.h5p-guessit .h5p-wrong .h5p-text-input,
.h5p-guessit .h5p-wrong-wordle .h5p-text-input {
  background-color: #f7d0d0;
  border: 1px solid #f7d0d0;
  color: #b71c1c;
}

.h5p-guessit .h5p-wrong:after {
  position: absolute;
  right: 0.5em;
  top: 0;
  font-family: 'H5PFontAwesome4';
  text-decoration: none;
  content: "\f00d";
  color: #b71c1c;
}

/* Misplaced letter in Wordle */
.h5p-guessit .h5p-misplaced .h5p-text-input {
  background-color: #ffff99;
  border: 1px solid #aaaa53;
  color: #777732;
}

/* Actual text paragraphs */
.h5p-guessit .h5p-question-content p {
  line-height: 1.75em;
  margin: 0 0 1em;
}

/* Header and footer blocks (title + evaluation, buttons) */

.h5p-guessit .joubel-tip-container {
  margin-right: 0.4em;
    font-size: 0.72em;
    top: 0.15em;
    position: relative;
}

.h5p-guessit .joubel-tip-container .joubel-icon-tip-normal {
  position: relative;
  top: 0.1em;
}
.h5p-guessit .joubel-tip-container:hover,
.h5p-guessit .h5p-audio-minimal-button:hover {
  transform: scale(1.2);     
}

.h5p-guessit .joubel-tip-container .joubel-icon-tip-normal .h5p-icon-info:before {
  font-family: 'H5PFontAwesome4';
  content: "\f05a";
  color: #1a73d9;
  margin-left: 0.1em;
  font-size: 1.5em;
} 
                                                                         
.h5p-guessit .has-tip.h5p-correct:after,
.h5p-guessit .has-tip.h5p-wrong:after {
  right: 2.25em;
}
.h5p-guessit .has-tip.h5p-correct .h5p-text-input,
.h5p-guessit .has-tip.h5p-wrong .h5p-text-input {
  padding-right: 3.5em;
}

.h5p-guessit-sentence.h5p-guessit-sentence-hidden {
  display: none;
}

.h5p-guessit.time-status {
  font-size: 0.9em;
  position: absolute;
  right: 10px;
  bottom: 0;
}

.h5p-question-reset-task:before {
  font-family: 'H5PFontAwesome4';
  content: "\f021";
  margin-right: 0.5em;
}
/* Showing solution */

.h5p-guessit .h5p-correct-answer {
  color: #255c41;
  font-weight: bold;
  border: 1px #255c41 dashed;
  background-color: #d4f6e6;
  padding: 0.15em;
  border-radius: 0.25em;
  margin-left: .5em;
}
.h5p-guessit .h5p-guessit-optionsbuttons {
  margin-top: 16px;
  padding-right: 8px;
}
.h5p-guessit-hide,
.h5p-guessit.h5p-guessit-options.h5p-guessit-hide {
  display: none;
}
.h5p-guessit .h5p-guessit-number {
}
.h5p-guessit.h5p-guessit-options {
  background-color: #f0f8ff;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  padding: 5px;
  font-size: 0.8em;
}

.h5p-guessit .joubel-tip-container.hidden,
.h5p-guessit .h5p-guessit-audio-wrapper.hidden {
  display: none;
}

.h5p-guessit .h5p-question-scorebar.h5p-question-visible {
  display: none;
}

.h5p-guessit .h5p-guessit-description {
  background: #fefefe;
  border-bottom: 1px solid #EEE;
} 

.h5p-guessit-listGuessedSentences {
  border: 1px #255c41 dashed;
  background-color: #e5f7ee;
  border-radius: 0.25em;
  padding-left: 0.5em;
  font-size: 0.9em;
}
.h5p-guessit-listGuessedSentences p{
  text-indent: -1.5em;
  margin-left: 1.5em;
}
 

.h5p-guessit.h5p-frame.h5p-no-frame {
  background: #fefefe;
  border: 1px solid #EEE;
}

.h5p-guessit.h5p-frame.h5p-frame .h5p-container {
  background: #fefefe;
  margin: 10px;
}


.h5p-guessit .h5p-question-introduction {
  margin-left: 1em!important;
  margin-right: 1em!important;
}

.h5p-guessit-summary-screen {
  margin: auto;
  max-width: fit-content;
}
.h5p-guessit .h5p-guessit-summary-screen .h5p-guessit-summary-header {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.h5p-guessit-summary-screen .h5p-guessit-summary-table {
  width: 100%;
}

.h5p-guessit-summary-screen .h5p-guessit-summary-table td {
  height: 1.6em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d9d9d9;
  text-align: left;
}

.h5p-guessit-summary-screen .h5p-guessit-summary-table td.h5p-guessit-summary-table-row-category {
  width: 100%;
}

.h5p-guessit-summary-screen .h5p-guessit-summary-table td.h5p-guessit-summary-table-row-symbol {
  padding-left: 0.5em;
}

.h5p-guessit-summary-screen .h5p-guessit-summary-table td.h5p-guessit-summary-table-row-symbol.h5p-guessit-check:before {
  font-family: 'H5PFontAwesome4';
  content: "\f00c";
  color: #1f824c;
}

.h5p-guessit-summary-screen .h5p-guessit-summary-table td.h5p-guessit-summary-table-row-symbol.h5p-guessit-times:before {
  font-family: 'H5PFontAwesome4';
  content: "\f00d";
  color: #d95354;
}

.h5p-guessit-summary-screen .h5p-guessit-summary-table td.h5p-guessit-summary-table-row-score {
  padding-left: 0.5em;
  text-align: right;
  font-weight: bold;
}

.h5p-guessit-summary-screen .h5p-guessit-summary-table td.h5p-guessit-summary-table-row-score-divider {
  color: #757575;
  font-size: 0.75em;
}

.h5p-guessit .feedback-container {
  text-align: center;
  margin-top: 20px;
}
.h5p-guessit .h5p-question-new-sentence:before {
  font-family: 'H5PFontAwesome4';
  content: "\f0fe"; 
}
.h5p-guessit .h5p-question-end-game:before,
.h5p-guessit .h5p-question-end-game2:before {
  font-family: 'H5PFontAwesome4';
  content: "\f08b"; 
}
.h5p-guessit-okbutton {
    margin-top: 10px!important;
    margin-left: 0!important;
}
.h5p-guessit-okbutton:before {
  content: "\F058";
}
.h5p-guessit-usertipdescription {
  margin-top: 1em;
}

.h5p-guessit-required:before {
    content: "*";
    color: #da0001;
    margin-left: 0.2em;
    margin-right: 0.25em;
    position: relative;
    top: -0.2em;
}
.h5p-guessit-retry-button:before {
    font-family: H5PFontAwesome4;
    content: "\F021";
    margin-right: .5em;
}
.h5p-guessit-warning:before {
  font-family: 'H5PFontAwesome4';
  content: "\f071";
  font-size: x-large;
  top: 0.1em; 
  color: #da0001;
} 

/* Audio button styling */
/*TODO: Make Audio use JoubelUI button */
.h5p-guessit .h5p-audio-minimal-button {
  border: none;
  background: #1a73d9;
  font-weight: normal;
  padding: 0;
  font-size: 1.1em;
  width: 1.32em;
  height: 1.32em;
}

.h5p-guessit .h5p-audio-minimal-button:focus,
.h5p-guessit .h5p-audio-minimal-button:hover {
  background: #1356a3;
}

.h5p-guessit .h5p-guessit-audio-wrapper {  
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.4em;
}

.h5p-guessit .h5p-guessit-audio-wrapper.h5p-audio-not-supported {
  width: 100%;
  height: 100%;
  color: red;
  font-size: 1em;
  text-align: center;
}

.h5p-guessit .h5p-guessit-audio-wrapper.h5p-audio-not-supported .h5p-audio-not-supported-icon {
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em;
  margin: 0 auto 1em auto;
  border: 2px red solid;
  border-radius: 50%;
}

.h5p-guessit .h5p-guessit-audio-wrapper.h5p-audio-not-supported .h5p-audio-not-supported-icon span,
.h5p-guessit .h5p-guessit-audio-wrapper2.h5p-audio-not-supported .h5p-audio-not-supported-icon span {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url('../images/no-audio.svg');
}

.h5p-guessit .h5p-question-buttons.has-scorebar {
  margin-left: 1em;
}
